<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
    </header>
    <div id="body">
        <section>
            @RenderBody()
        </section>
    </div>
    <footer>
    </footer>
</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/ember")

<script type="text/ecmascript">
    var Lampadas = Lampadas = Ember.Application.create();
</script>
@Scripts.Render("~/bundles/proxy")
@Scripts.Render("~/bundles/models")
@Scripts.Render("~/bundles/collections")
@Scripts.Render("~/bundles/controllers")
@Scripts.Render("~/bundles/views")
@Scripts.Render("~/bundles/application")
</html>
